<div class="template" style="padding:40px 15px; text-align:center">
<h1>Table Demo</h1>
<div class="row">


<table class="table table-striped footable">
		<thead>
		<tr>
		<th data-name="firstname">First Name</th>
		<th data-name="lastname">Last Name</th>
		<th data-name="state">State</th>
		<th data-name="age">Age</th>
		<th data-name="job">Job</th>
		<th data-name="graduation">Graduation Date</th>
		<th data-name="favsport">Favorite Sport</th>
		<th data-name="favfood" data-breakpoints="xs">Favorite Food</th>
		</tr>
		</thead>
		<tbody>
		<tr class="row-click" ng-repeat="d in showData" ng-click="outputRow(d)">
		<td>{{d.firstname}}</td>
		<td>{{d.lastname}}</td>
		<td>{{d.state}}</td>
		<td>{{d.age}}</td>
		<td>{{d.job}}</td>
		<td data-value="{{d.gradTime}}">{{d.graduation|date:'shortDate'}}</td>
		<td>{{d.favsport}}</td>
		<td>{{d.favfood}}</td>
		</tr>
		</tbody>
		</table>
</div>
</div>

